<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Home - Shope Admin')"/>

<body>
	<div th:replace="navigation :: menu"/>
		
	<div class="container-fluid">
		<h1>Manage Categories</h1>
		<input>
		<button type="button" class="btn btn-primary">
			<span class="fa-solid fa-magnifying-glass"/>
		</button>
	
	<table class="table table-bordered table-striped table-hover table-responsive-xl">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Category Image</th>
				<th>Category Name</th>
				<th>Alias</th>
				<th>Enabled</th>
				<th></th>
			</tr>
		</thead>
		<tbdoy>
			<tr th:each="category : ${categoryAll}">
				<td>[[${category.id}]]</td>
				<td>[[${category.image}]]</td>
				<td>[[${category.name}]]</td>
				<td>[[${category.alias}]]</td>
				<td>
					<div th:if="${category.enabled == true}">
					<a th:href="@{'/categories'}">
						<span class="fa-sharp fa-regular fa-square-check fa-2x icon-dark" title="Disable this user"/></div>
					</a>
					
					<div th:if="${category.enabled == false}">
					<a th:href="@{'/categories'}">
						<span class="fa-regular fa-square fa-2x icon-silver" title="Enabled this user"/></div>
					</a>	
				</td>
				<td><div class="row">
						&nbsp;&nbsp;
						<a class="fa-sharp fa-solid fa-pen-to-square fa-2x icon-green" 
						th:href="@{'/categories/edite'}"
						title="Edite user">
						</a>
  						&nbsp;&nbsp;
  						<a class="fa-regular fa-trash-can fa-2x icon-green link-delete"
  						th:href = "@{'/categories/delete'}"
  						title="Delete user"></a>
					</div>
				</td>
			</tr>	
		</tbdoy>	
	</table>
	</div>
	
	<div th:replace="fragments :: footer"/>

</body>

</html>