<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${pageTilte}]]</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<style>
		.input-form {
			max-width: 800px;

			margin-top: 80px;
			padding: 32px;

			background: #fff;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.45);
			-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.35);
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25)
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#buttonCancel").on("click", function () {
				location.href = "[[@{/users}]]";
				window.location = "[[@{/users}]]";
			});

			/*let overlappingEmail = "[[${errorMessage}]]";
		let enteredEmail = "[[${user.email}]]" 
		if(overlappingEmail == "duplicateEmail"){
			alert(enteredEmail + "는 중복된 이메일 입니다.\n다른아이디를 입력해주세요");
		}	*/
		
		rawPasswored = "[[${user.password}]]";
		if(rawPasswored != null){
	        $("#passwordEditer").removeAttr("required");
	        console.log(rawPasswored)
	        console.log(rawPasswored != null)
        }
        
		$("#fileImage").change(function(){
		fileSize = this.files[0].size;
			if(fileSize > 1048576){
				this.setCustomValidity("You must choose an image less than 1MB!");
				this.reportValidity();
			}else{
				this.setCustomValidity("");
				showImageThumbnail(this);
			}
		});
	});
	
    function showImageThumbnail(fileInput){
       var file = fileInput.files[0];
       var reader = new FileReader();
       reader.onload = function(e){
          $("#thumbnail").attr("src",e.target.result);
       };
       reader.readAsDataURL(file);
    }

		 
	function checkEmailUnique(form) {
		url = "[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
	
		userId = $("#id").val();
		params = {id: userId, email: userEmail, _csrf: csrfValue};
			
		//집적추가한 부분
		/*
		beforeEditeEmail = "[[${user.email}]]";			
		beforeEditePassword = "[[${user.password}]]";
		userPassword = $("#password").val();
		
		if(beforeEditeEmail == userEmail){
			if (userPassword == ""){
					$("#password").val(beforeEditePassword);
				}
			form.submit();
			return false;
		}
		*/
			
		$.post(url, params, function (response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					//alert(userEmail+" is alread exist!!");
					showModalDialog("Warning", userEmail + "is already existed");
				}else{
					showModalDialog("Error", "Unkown response from server");
				}
			})
			.fail(function(){
				showModalDialog("Error", "Could no connect to this server");
			});
				
			
		return false;
		}

		function showModalDialog(title, message) {
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal();
		}
	</script>




</head>


<body>
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShopeAdminSmall.png}" style="width:150px; height:150px;" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">Categories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">Brands</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">Customers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">Shipping</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">Orders</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/saleReport}">SaleReport</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">Settings</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<div class="border border-secondary rounded p-3">
					<h2>Manage Users | [[${pageTilte}]]</h2>
	
					<form th:action="@{/users/save}" th:object="${user}" method="POST"
						enctype="multipart/form-data"
						style="max-width: 700px; margin: 0 auto;" onsubmit="return checkEmailUnique(this)" ;>

						<input type="hidden" th:field="*{id}" />

						<div class="form-group mb-3">
							<label for="email" class="col-form-label">E-mail<span
									class="text-muted">&nbsp;(필수)</span></label>
							<input type="email" th:field="*{email}" class="form-control mb-4 col-8" placeholder="E-mail"
								required minlength="8" maxlength="128">
							<div class="invalid-feedback">이메일을 입력해주세요.</div>
							<div class="valid-feedback">Valid.</div>
						</div>

						<div class="form-broup row">
							<div class="col-md-6 mb-3">
								<label for="firstname" class="col-form-label">First Name<span
										class="text-muted">&nbsp;(필수)</span></label>
								<input type="text" th:field="*{firstname}" class="form-control" placeholder="First Name"
									required minlength="2" maxlength="45">
							</div>
							<div class="invalid-feedback">
								성을 입력해주세요.
							</div>
							<div class="col-md-6 mb-3">
								<label for="lastname" class="col-form-label">Last Name<span
										class="text-muted">&nbsp;(필수)</span></label>
								<input type="text" th:field="*{lastname}" class="form-control" placeholder="Last Name"
									required minlength="2" maxlength="45">
							</div>
							<div class="invalid-feedback">
								이름을 입력해주세요.
							</div>
						</div>
		
						<div class="mb-3">
							<label for="password" class="col-sm-4 col-form-label">Password<span
									class="text-muted">&nbsp;(필수)</span></label>
							
								<input th:if ="${user.id == null}"
								type="password" th:field="*{password}" class="form-control mb-4 col-8"
									id = "passwordEditer" placeholder="password" 
									required minlength="8" maxlength="20">
								<input th:if ="${user.id != null}"
								type="password" th:field="*{password}" class="form-control mb-4 col-8"
									id = "passwordEditer" placeholder="password" 
									 minlength="8" maxlength="20">								
									
							<div th:text = "*{password}"></div>		
									
						</div>

						<div class="form-group row">
							<label class="col-2 col-form-label">Roles :</label>
							<div class="col-10">
								<th:bolck th:each="role: ${listRoles}">
									<input type="checkbox" th:field="*{roles}" th:text="|${role.name}|"
										th:value="${role.id}" class="m-2" />
									- <small>[[${role.description}]]</small>
									<br>
								</th:bolck>
							</div>
						</div>

						<hr> <div th:text = "${user}"/>

						<div class="form-group row">
							<label for="enabled" class="col-sm-4 col-form-label">Enabled :</label>
							<div class="col-sm-8">
								<input type="checkbox" th:field="*{enabled}" th:text="가능" class="m-2" />
							</div>
						</div>
						
						<div class="form-group row">
							<label for="photos" class="col-sm-2 col-form-label">Photos :</label>
							<div class="col-sm-10">
								<input type="hidden" th:field="*{photos}"/>
								<input type="file" id="fileImage" name="image" accept="image/png,image/jpeg" class="mb-2" />
				            	<img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}" style="width: 250px;" class="img-fluid" />
							</div>
						</div>
					
						<div class="text-center">
							<button type="submit" id="joinTheMembership" class="btn btn-primary mb-4 col-3 m-3">
								<div th:if = "${user.id == null}">가입완료</div>
								<div th:if = "${user.id != null}">수정완료</div>
							</button>
							<a th:href="@{/users}" class="btn btn-secondary mb-4 col-3 m-3">Cancel</a>
							<input type="button" id="buttonCancel" value="jQuery" class="btn btn-outline-secondary mb-4 col-3 m-3">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="my-3 text-center">
		<p>Shopme Control Panel - Copyright &copy; Shope</p>
	</footer>

</body>
<html>