<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Home - Shopme Admin</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click", function(e){
				e.preventDefault();
				link = $(this);
				userId = link.attr("userId");
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
				$("#confirmModal").modal();
			});
		});
		
		
		$.post(url, params, function (response) {
					if (response == "OK") {
						form.submit();
					} else if (response == "Duplicated") {
						//alert(userEmail+" is alread exist!!");
						showModalDialog("Warning", userEmail + "is already existed");
					}else{
						showModalDialog("Error", "Unkown response from server");
					}
				})
				
		function clearFilter(){
			//location.href = "[[@{/users}]]";
			window.location = "[[@{/users}]]";
		}	
	</script>
	
	<style>
		.pagination > li > a {
			float: none;
			margin-left: 5px;
		}
		
	</style>
	
</head>

<body>

	<div th:replace="navigation :: menu"/>

	<div class="container fluid">
		<h2>Manage Users</h2>
		<a th:href="@{/users/new}" class = "btn btn-sm mb-3" style = "background-color: darkorange">Create New User</a>
		
		<div>
		 <form th:action="@{'/users/1'}" class="form-inline m-3">
		    
		    <input type="hidden" name="sortField" th:value="${sortField}" class="form-control" />
		    <input type="hidden" name="sortDir" th:value="${sortDir}" class="form-control" />
		    Filter:&nbsp;
		    <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
		    &nbsp;&nbsp;
		    <button type="submit" class="btn btn-primary">
		       <i class="fas fa-search"></i>
		    </button>
			&nbsp;&nbsp;
		     <button type="button" class="btn btn-secondary" onclick="clearFilter()">
		       <i class="fas fa-eraser"></i>
		    </button>
		 </form>
		</div>
		
		<div th:if = "${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<div th:if = "${messageNotFound != null}" class="alert alert-info text-center">
			[[${messageNotFound}]]
		</div>
		<div th:if = "${messageEnabled != null}" class="alert alert-secondary text-center">
			[[${messageEnabled}]]
		</div>
		<div th:if = "${messageUpdate != null}" class="alert alert-primary text-center">
			[[${messageUpdate}]]
		</div>
		<div th:if = "${messageDelete != null}" class="alert alert-danger text-center">
			[[${messageDelete}]]
		</div>
		
		<div th:if = "${totalPages > 1}">
		<nav>
		<ul class="pagination justify-content-center pagination-xs">
			<li th:class="${currentPage != 1 ? 'page-item active' : 'page-item disabled'}">
				<a class="page-link" th:href="@{/users/1(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">&laquo;First</a>
			</li>
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a class="page-link" th:href="@{'/users/' + ${currentPage-1}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">Previous</a>
			</li>	  
			<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
				 th:each = "i : ${#numbers.sequence(startPartPage,endPartPage)}">
				<!--<a class="page-link" th:href="@{/users/{i}(i=${i})}" th:text = "${i}"></a>-->
				<a class="page-link" th:href="@{'/users/'+${i}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">[[${i}]]</a>
			</li>
			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				<a class="page-link" th:href="@{'/users/' + ${currentPage+1}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">Next</a>
			</li>
			<li th:class="${currentPage != totalPages ? 'page-item active' : 'page-item disabled'}">
				<a class="page-link" th:href="@{'/users/' + ${totalPages}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">Last&raquo;</a>
			</li>
		</ul>
		</nav>
		</div>
		
		<div class="text-center m-1" th:if = "${totalItems > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless = "${totalItems > 0}">
			<span>No users found</span>
		</div>
		
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th><a th:if="${sortField != 'id'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=id, sortDir=${sortDir})}">
							User ID
						</a>
						<a th:if="${sortField == 'id'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=id, sortDir=${reverseSortDir})}">
							User ID
						</a>
						<span th:if="${sortField == 'id'}"
							 th:class = "${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
							 th:utext = "${sortDir == 'asc' ? '<sup>▲</sup>' : '<sub>▼</sub>'}">
						</span>					
					</th>
					<th>Photos</th>
					<th><a th:if="${sortField != 'email'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=email, sortDir=${sortDir})}">
							E-mail
						</a>
						<a th:if="${sortField == 'email'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=email, sortDir=${reverseSortDir})}">
							E-mail
						</a>
						<span th:if="${sortField == 'email'}"
							 th:class = "${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
						</span>					
					</th>
					<th><a th:if="${sortField != 'firstname'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=firstname, sortDir=${sortDir})}">
							First Name
						</a>
						<a th:if="${sortField == 'firstname'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=firstname, sortDir=${reverseSortDir})}">
							First Name
						</a>
						<span th:if="${sortField == 'firstname'}"
							 th:class = "${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
						</span>					
					</th>
					<th><a th:if="${sortField != 'lastname'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=lastname, sortDir=${sortDir})}">
							Last Name
						</a>
						<a th:if="${sortField == 'lastname'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=lastname, sortDir=${reverseSortDir})}">
							Last Name
						</a>
						<span th:if="${sortField == 'lastname'}"
							 th:class = "${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
						</span>					
					</th>
					<th>Roles</th>
					<th><a th:if="${sortField != 'enabled'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=enabled, sortDir=${sortDir})}">
							Enabled
						</a>
						<a th:if="${sortField == 'enabled'}" class = "text-white"
							th:href="@{'/users/' + ${currentPage}(sortField=enabled, sortDir=${reverseSortDir})}">
							Enabled
						</a>
						<span th:if="${sortField == 'enabled'}"
							 th:class = "${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
						</span>					
					</th>
					<th>Edite Form</th>
					<th>Edite A href</th>
				</tr>
			</thead>
			<tbdoy>
				<tr th:each="user : ${UserAll}">
					<td>[[${user.id}]]</td>
					<td><span th:if = "${user.photos == null}" class="fas fa-portrait fa-6x icon-silver"></span>
						<img th:if = "${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px;"/>
					</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstname}]]</td>
					<td>[[${user.lastname}]]</td>
					<td><p th:text="${user.roles}"></td>
					<td>
						<div th:if="${user.enabled == true}">
						<a th:href="@{'/users/' + ${user.id} + '/enabled/false'}">
							<span class="fa-sharp fa-regular fa-square-check fa-2x icon-dark" title="Disable this user"/></div>
						</a>
						
						<div th:if="${user.enabled == false}">
						<a th:href="@{'/users/' + ${user.id} + '/enabled/true'}">
							<span class="fa-regular fa-square fa-2x icon-silver" title="Enabled this user"/></div>
						</a>	
					</td>
					<td><div class="row">
							&nbsp;
							<form th:action="@{/users/edite}" method="POST">
								<input type="hidden" name = "id" th:value="${user.id}"/>
								<button title = "Edit this user">
									<span class="fa-solid fa-pen-to-square fa-2x icon-orange"/>
								</button>
							</form>
								&nbsp;
							<form th:action="@{/users/delete}" method="POST" >
								<input type="hidden" name = "id" th:value="${user.id}"/>
								<button title="Delete this user">
									<span class="fa-regular fa-trash-can fa-2x icon-orange"/>
								</button>
							</form>
						</div>
					</td>
					<td><div class="row">
						&nbsp;&nbsp;
						<a class="fa-sharp fa-solid fa-pen-to-square fa-2x icon-green" 
						th:href="@{'/users/edite/'+${user.id}}"
						title="Edite user">
						</a>
  						&nbsp;&nbsp;
  						<a class="fa-regular fa-trash-can fa-2x icon-green link-delete"
  						th:href = "@{'/users/delete/'+${user.id}}"
  						th:userId = "${user.id}"
  						title="Delete user"></a>
						</div>
					</td>
				</tr>
			</tbdoy>
		</table>
	</div>
	
	
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
				</div>
				
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				
				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	

<div th:replace="fragments :: footer"/>


</body>

</html>